<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo.png" width="55" height="40" class="d-inline-block align-top" alt="">
        <h2 class="text">Repair At Your Doorstep</h2>
    </a>
    <form class="form-inline">
         <i class="fas fa-bell-slash cart"></i><sup>{{notification}}</sup>
         <a class="nav-link" data-toggle="modal" data-target="#exampleModalLong">Notification <span class="sr-only">(current)</span></a>
        <div class="profile" data-toggle="modal" data-target="#sideModalTR">
            <div class="middle" >
                <div class="textProfile">Profile</div>
              </div>
        <img src="../../assets/img/avatar.svg" width="50px" height="50px">
        
        </div>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <app-service-provider-side-bar></app-service-provider-side-bar>
        </div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
